<h2>{{vm.title}}</h2>

<div>

    <form name="vm.form" form="form">

        <div ng-show="vm.form.$submitted && vm.form.$error">There were errors on submit.</div>
        <div class="form-group">
            <form-field ng-repeat="propertySet in vm.properties" properties="propertySet" form="vm.form" ng-model="vm.myModel"></form-field>
        </div>
        <div class="form-buttons">
            <input class="btn" type="submit" value="Submit" ng-click="vm.onSubmit()" />
        </div>

    </form>

</div>

<br />
<h3>Model Properties:</h3>
{{vm.myModel}}