<div class="test-form">

    <h2>{{vm.title}}</h2>

    <form novalidate name="vm.form" form="form" ng-submit="vm.onSubmit()">

        <div ng-show="vm.form.$submitted && vm.form.$invalid">Some fields are invalid.</div>

        <div form-form properties="vm.properties" form="vm.form" ng-model="vm.myModel"></div>

        <div form-form properties="vm.properties2" form="vm.form" ng-model="vm.myModel"></div>

        <div class="form-buttons">
            <input class="btn" type="submit" value="Submit" />
        </div>

    </form>

</div>

<br />
<div>form is valid? = {{!vm.form.$invalid}}
<h3>Model Properties:</h3>
{{vm.myModel}}