<h1>Chat Page</h1>

<navigation routes="vm.routes"></navigation>

<div>

    <ng-form name="vm.form" form="form">

        <h2>Add New Message</h2>

        <div class="chat-fields">

            <div class="chat-field">

                <label class="chat-label" for="name">
                    <span>Name:</span>
                </label>
                <div class="chat-input">
                    <input type="text" ng-model="vm.name" name="name" required />
                    <!--<div class="chat-validation" ng-show="vm.form.name.$dirty && vm.form.name.$invalid">This field is required</div>-->
                </div>

            </div>

            <div class="chat-field">

                <label class="chat-label" for="message">
                    <span>Message:</span>
                </label>
                <div class="chat-input">
                    <textarea name="message" ng-model="vm.message" required></textarea>
                    <!--<div class="chat-validation" ng-show="vm.form.message.$dirty && vm.form.message.$invalid">This field is required</div>-->
                </div>

            </div>

        </div>

        <div>
            <input id="chat-submit" type="submit" value="Submit" ng-click="vm.saveMessage()" ng-disabled="vm.form.$invalid" />
        </div>

    </ng-form>

    <div class="messages">
        <div class="chat-message" ng-repeat="message in vm.messages">
            <div>{{message.Name}}</div>
            <div>{{message.Message}}</div>
        </div>
    </div>

</div>
