<div></div>
<div class="form-control-group">
    <label>
        <input ng-attr-name="{{properties.id}}" ng-attr-type="{{properties.fieldType}}" ng-attr-id="{{properties.id}}" ng-model="model[properties.key]"
            ng-attr-required="properties.required" form-field-validation />
        <span ng-class="{ required: true, hidden: !properties.required }" ng-show="properties.required">*</span>{{properties.fieldLabel}}
    </label>
    <div class="error" ng-show="parentForm.$submitted && form[properties.id].$error" ng-include="messageUrl"></div>
    <div class="form-description">{{properties.description}}</div>
</div>