.route {
    height: 100px;
    width: 100px;
    display: inline-table;
    background-color: #472e74;
    color: #ffffff;
    text-decoration: none;
    text-align: center;
    margin-right: 5px;
}

.route:visited,
.route:hover {
    color: #ffffff;
    text-decoration: none;
}

.route span {
    display: table-cell;
    vertical-align: middle;
}